@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    background-color: greenyellow;
    padding: 20px;
}

.container {
    text-align: center;
    background-color: rgba(0, 128, 0, 0.548);
    color: whitesmoke;
    padding: 50px 20px;
    max-width: 100%;
    width: 800px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
}

h3 {
    margin: 0;
    opacity: 0.7;
    letter-spacing: 2px;
}

.quotes {
    font-size: 30px;
    letter-spacing: 1px;
    line-height: 40px;
    margin: 50px auto;
    max-width: 600px;
}

.btn {
    background-color: rgb(182, 245, 88);
    color: black;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
    padding: 14px 40px;
    font-size: 16px;
    cursor: pointer;
}
