@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    background-color: #222;
    position: relative;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

.btn {
    margin: 1rem;
    padding: 2rem 4rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: aquamarine;
    font-family: inherit;
    font-size: 1rem;
    text-transform: uppercase;
}

.btn:focus {
    outline: 0;
}

.btn:hover {
    transform: scale(1.1);
    transition: transform 0.5s ease-in-out;
    opacity: 0.8;
}

/* #but {
    position: absolute;
    top: 0;
    left: 20px;
}

#but1 {
    position: absolute;
    top: 0;
    right: 20px;
} */

.specialbuttons {
    display: grid;
    grid-template-columns: repeat(2, 5fr);
    top: 0;
    position: absolute;
}

@media (max-width: 500px) {
    .buttons {
        display: grid;
        grid-template-columns: 1fr;
    }

    .btn {
        margin: 3rem;
    }

    .specialbuttons {
        display: grid;
        grid-template-columns: 1fr;
        margin-bottom: 2rem;
    }
    body {
        overflow: scroll;
        overflow-x: hidden;
    }
}
