@import url('https://fonts.googleapis.com/css2?family=Original+Surfer&display=swap');

* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    background-color: #333;
    color: #222;
    overflow-x: hidden;
}
