@import url('https://fonts.googleapis.com/css2?family=Mandali&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Mandali', sans-serif;
    background-color: rgb(250, 215, 210);
    background-image: linear-gradient(
        to bottom,
        rgb(250, 215, 210) 0%,
        rgb(250, 215, 210) 50%,
        #f54646 50%,
        #f54646 100%
    );
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    background-color: #fff;
    padding: 20px;
    width: 80px;
    display: flex;
    align-items: center;
    border-radius: 3px;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: width 0.6s linear;
    overflow-x: hidden;
}

nav.active {
    width: 350px;
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 0;
    transition: width 0.6s linear;
}

nav.active ul {
    width: 100%;
}

nav ul li {
    transform: rotateY(0deg);
    opacity: 0;
    transition: transform 0.6s linear, opacity 0.6s linear;
}

nav.active ul li {
    opacity: 1;
    transform: rotateY(360deg);
}
