@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    

}



#main{
    /* position: relative; */
    background-color: rgb(247, 230, 230);
    
    
}

#title {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#title  h1{
    /* position: absolute; */
    text-align: center;
    margin-top: 2.4rem;
    
}

p{
    text-align: center;
}

#title p{
    line-height: 1.6rem;
}

#img-div {
    display: flex;
    flex-direction: column;
    background: burlywood;
    margin-top: 4rem;
    /* justify-content: center; */
}

#image {
    align-self: center;
    max-width: 100%;
    height:auto;
}

#img-caption{
    text-align: center;

}


#tribute-info article ul{
    margin-top: 5rem;
    line-height: 2.5rem;
    max-width: 35rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    
    /* align-items: center;
    justify-content: center;
    align-content: center; */
}

#tribute-info article ul li{
    /* justify-self: center; */
    /* align-self: center; */
    line-height: 2rem;
    word-spacing: 0.5rem;
    margin: 1.4rem;
}

h3{
    text-align: center;
    margin-top: 5.4rem;
}

.color{
    text-decoration: underline;
    color: darkgreen;
}

footer {
    background: #333333;
    color: whitesmoke;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer a{
    text-decoration: none;
    color: orange;
}

footer a:visited{
    text-decoration: none;
    color: orange;
}
footer a:hover{
    text-decoration: none;
    color: greenyellow;
}