@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&family=Roboto+Slab&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans Narrow', sans-serif;
    margin: 0;
    display: flex;

    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    display: flex;
    width: 90vw;
}

.panel {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: flex 0.7s ease-in;
}

.panel h3 {
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
}

.panel.active {
    flex: 5;
}
