@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Playfair Display', serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.container {
    text-align: center;
}

.progress-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    max-width: 100%;
    width: 550px;
}
