@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Playfair Display', serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
