@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

body {
    font-family: 'Play', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    justify-content: center;
    align-items: center;
    position: relative;
}

.score-display {
    position: absolute;
    top: 0;
    left: 20px;
    display: flex;
    margin-bottom: 10px;
}

.display-time {
    position: absolute;
    top: 0;
    right: 20px;
    display: flex;
    margin-bottom: 10px;
}

.score-display h2 {
    margin: 1rem;
}

.display-time h2 {
    margin: 1rem;
}

.square {
    height: 200px;
    width: 200px;
    border: solid black 1px;
}

.mole {
    background-image: url('mole.jpg');
    background-size: contain;
    background-repeat: no-repeat;
}

.grid {
    width: 606px;
    height: 606px;
    display: flex;
    flex-wrap: wrap;
}
