body {
    margin: 0;
    overflow: hidden;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    gap: 10px;
    align-items: center;
    justify-content: center;
    height: 95vh;
    margin: 20px;
}

.container img {
    width: 200px;
    height: 200px;
    cursor: pointer;
    object-fit: cover;
}

#lightbox {
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 100%;
    z-index: 1000;
    top: 0;
}

#lightbox.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

#lightbox img {
    width: 400px;
    height: 400px;
    max-width: 90%;
    max-height: 80%;
    padding: 4px;
    background-color: black;
    border: 2px solid whitesmoke;
    border-radius: 10px;
}

.container img:hover {
    transform: scale(1.1);
    transition: transform ease-in-out 0.3s;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.8);
}
