@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');

body {
    font-family: 'Orelega One', cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-x: hidden;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 300px;
}
